-- MySQL dump 10.13  Distrib 5.7.17, for Win64 (x86_64)
--
-- Host: localhost    Database: arrowhead
-- ------------------------------------------------------
-- Server version	5.7.21-log
USE `arrowhead`;
#foreach( $connection in $connections)
SELECT @serviceID :=id FROM service_definition WHERE service_definition='$connection[0]';
SELECT @providerID :=id FROM system_ WHERE system_name='$connection[1]';
SELECT @consumerID :=id FROM system_ WHERE system_name='$connection[2]';
SELECT @srID :=id FROM service_registry WHERE service_id=@serviceID AND system_id=@providerID;
SELECT @interfaceID :=interface_id FROM service_registry_interface_connection WHERE service_registry_id=@srID;
INSERT INTO `authorization_intra_cloud` (`consumer_system_id`,`provider_system_id`, `service_id`) 
VALUES (@consumerID,@providerID,@serviceID);
SELECT @authoID :=id FROM authorization_intra_cloud WHERE service_id=@serviceID AND provider_system_id=@providerID;
INSERT INTO `authorization_intra_cloud_interface_connection` (`authorization_intra_cloud_id`,`interface_id`) 
VALUES (@authoID,@interfaceID);

#end