Port {
	maskLabel: type ;
}

Class {
	elementIcon:false;
	radiusWidth:5;
	radiusHeight:5;
	gradient:none;
	fontHeight:14;
}
Property {
	maskLabel: name;
	elementIcon: false;
	radiusWidth:5;
	radiusHeight:5;
	gradient:vertical;
}
Property > Compartment[kind="internalstructure"] {
    visible:false;
    
}
[appliedStereotypes~="SysML::Blocks::Block"]> Label:Stereotype {
    visible: false;
} 