package eu.arrowhead.provider;

import org.springframework.boot.SpringApplication;
import org.springframework.boot.autoconfigure.SpringBootApplication;
import org.springframework.context.annotation.ComponentScan;

import eu.arrowhead.common.CommonConstants;

@SpringBootApplication
@ComponentScan(basePackages = {CommonConstants.BASE_PACKAGE, "eu.arrowhead","ai.aitia"})
public class  ${sysName}ProviderMain {

	//=================================================================================================
	// methods

	//-------------------------------------------------------------------------------------------------
	public static void main(final String[] args) {
		SpringApplication.run(${sysName}ProviderMain.class, args);
		
		#if($coap==true)
		try{
        	ServerApplication coapServer= new ServerApplication();
			coapServer.start();
	    }
     	catch (Exception e) {
         	e.printStackTrace();
        }
		#end
	}	
}