<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.commands">
      <category
            id="org.eclipse.papyrus.arrowhead.deployment.commands.category"
            name="Rules Category">
      </category>
      <command
            categoryId="org.eclipse.papyrus.arrowhead.deployment.commands.category"
            name="Deploy Database Rules"
            id="org.eclipse.papyrus.arrowhead.deployment.policies.command">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="deployment.policies.handlers.Generation"
            commandId="org.eclipse.papyrus.arrowhead.deployment.policies.command">
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="org.eclipse.papyrus.arrowhead.deployment.policies.command"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            contextId="org.eclipse.ui.contexts.window"
            sequence="M1+8">
      </key>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="menu:org.eclipse.ui.main.menu?after=additions">
         <menu
               id="org.eclipse.papyrus.arrowhead.menu"
               label="Arrowhead"
               mnemonic="M">
            <menu
                  id="org.eclipse.papyrus.arrowhead.deployment.menu"
                  label="Deployment">
               <command
                     commandId="org.eclipse.papyrus.arrowhead.deployment.policies.command"
                     id="org.eclipse.papyrus.arrowhead.deployment.policies.menu"
                     mnemonic="B">
               </command>
            </menu>
         </menu>
      </menuContribution>
      <menuContribution
            locationURI="toolbar:org.eclipse.ui.main.toolbar?after=additions">
         <toolbar
               id="org.eclipse.papyrus.arrowhead.deployment.toolbar">
            <command
                  id="org.eclipse.papyrus.arrowhead.deployment.policies.toolbar"
                  commandId="org.eclipse.papyrus.arrowhead.deployment.policies.command"
                  icon="icon.png"
                  tooltip="Rules deployment">
            </command>
         </toolbar>
      </menuContribution>
   </extension>
</plugin>
