<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated Arrowhead.profile -->
      <package
            uri="http://Papyrus/ArrowheadSysMLProfile"
            class="org.eclipse.papyrus.arrowhead.tools.profile.arrowheadsysmlprofile.ArrowheadSysMLProfilePackage"
            genModel="model/Arrowhead.profile.genmodel"/>
   </extension>

   <extension
         point="org.eclipse.emf.ecore.uri_mapping">
      <mapping
            source="pathmap://ARROWHEADSYSMLPROFILE_PROFILE/"
            target="platform:/plugin/org.eclipse.papyrus.arrowhead.tools.profile/model/">
      </mapping>
   </extension>
   <extension
         point="org.eclipse.uml2.uml.generated_package">
      <profile
            location="pathmap://ARROWHEADSYSMLPROFILE_PROFILE/Arrowhead.profile.uml#_yT0ZgD1SEeywba4O3NkZ_A"
            uri="http://Papyrus/ArrowheadSysMLProfile">
      </profile>
   </extension>
   <extension
         point="org.eclipse.papyrus.uml.extensionpoints.UMLProfile">
      <profile
            description="Arrowhead SysML Profile"
            iconpath="icons/AHT-16x16.png"
            name="Arrowhead SysML Profile"
            path="pathmap://ARROWHEADSYSMLPROFILE_PROFILE/Arrowhead.profile.uml"
            provider="CEA LIST">
      </profile>
   </extension>

</plugin>
