<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?eclipse version="3.4"?><plugin>
      
   
   <extension name="dsml.validation.generated.arrowhead" point="org.eclipse.emf.validation.constraintProviders">
      <category id="org.eclips.papyrus.arrowhead.tools.validation.arrowhead" mandatory="false" name="org.eclips.papyrus.arrowhead.tools.validation.arrowhead"/>
      <constraintProvider cache="false" mode="Batch">
         <package namespaceUri="http:///Arrowhead.ecore"/>
         <constraints categories="org.eclips.papyrus.arrowhead.tools.validation.arrowhead">
            <constraint id="Arrowhead.SysD.Constraint180" isEnabledByDefault="true" lang="OCLpivot" mode="Batch" name="Constraint180" severity="ERROR" statusCode="1">
               <message>Constraint 'Constraint180' is violated</message><![CDATA[self.base_Class.isActive]]></constraint>
            <constraint id="Arrowhead.SystemofLocalCloudsDesign.SoLCDpropertyType" isEnabledByDefault="true" lang="OCLpivot" mode="Batch" name="SoLCDpropertyType" severity="ERROR" statusCode="1">
               <message>Properties od a systemofLocalCLoudDesign must be typed by LocalCLoudDesign</message><![CDATA[let properties : Set (UML::Property) = self.base_Class.attribute 
in 
properties->notEmpty() 
implies 
properties-> forAll(p|p.type->exists(t| not(t.getAppliedStereotype ('Arrowhead::LocalCloudDesign')->isEmpty()) )) 
]]></constraint>
         </constraints>
      </constraintProvider>
   </extension>
      
   <extension name="dsml.validation.generated.arrowhead" point="org.eclipse.emf.validation.constraintBindings">
      <clientContext id="SysDDClientContext">
         <selector class="org.eclips.papyrus.arrowhead.tools.validation.selectors.SysDDClientSelector"/>
      </clientContext>
      <binding context="SysDDClientContext">
         <constraint ref="org.eclips.papyrus.arrowhead.tools.validation.Arrowhead.SysDD.Deployed at Device"/>
         <constraint ref="org.eclips.papyrus.arrowhead.tools.validation.Arrowhead.SysDD.Constraint27"/>
      </binding>
      <clientContext id="SystemofLocalCloudsDesignClientContext">
         <selector class="org.eclips.papyrus.arrowhead.tools.validation.selectors.SystemofLocalCloudsDesignClientSelector"/>
      </clientContext>
      <binding context="SystemofLocalCloudsDesignClientContext">
         <constraint ref="org.eclips.papyrus.arrowhead.tools.validation.Arrowhead.SystemofLocalCloudsDesign.SoLCDpropertyType"/>
      </binding>
      <clientContext id="SysDClientContext">
         <selector class="org.eclips.papyrus.arrowhead.tools.validation.selectors.SysDClientSelector"/>
      </clientContext>
      <binding context="SysDClientContext">
         <constraint ref="org.eclips.papyrus.arrowhead.tools.validation.Arrowhead.SysD.Constraint180"/>
      </binding>
   </extension>
   
</plugin>
