%systemroot%\System32\xcopy  ${workspace}\.temp\resources\consumer ${outputDirectory}\\arrowhead\\${name}\\cloud-systems\\${sysName}-consumer /e
${disk}
cd ${outputDirectory}\\arrowhead\\${name}\\cloud-systems\\${sysName}-consumer\src\main\java\eu\arrowhead
mkdir consumer
cd consumer
mkdir dto